@import '../utilidades/variables';
@import 'mediaQueries';

.header {
    @include medidas(100%, 15vh);
    position: sticky;
    top: 0;
    z-index: 100000;
    background: $blanco;
    box-shadow: 0 5px .5rem $sombra;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;

    @include tablet {
        @include medidas(100%, 100%);
        align-items: flex-start;
        padding: 1rem 1rem 0 0;
    }

    @include mobile {
        @include medidas(100%, 100%);

        align-items: flex-start;
        padding: 0;
    }

    & .row {
        width: 100%;

        @include tablet {
            flex-direction: row-reverse;
        }

    }
}

.header__h1YNav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: row-reverse;
    }
}

.header__elH1 {
    text-decoration: none;

    & h1 {
        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;

        @include mobile {
            font-size: 2rem;
        }

        @include miniMobile {
            font-size: 1.5rem;
        }
    }
}

.header__navbar {
    width: 100%;

    @include tablet {
        width: 30%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

.header__subMenu {
    background-color: $blanco;
    justify-content: center;
}

.navbar-toggler {
    width: 5rem;
    height: 3rem;

    &:focus {
        box-shadow: none;
    }

    & ion-icon {
        @include medidas(3rem, 3rem);
    }
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include tablet {
        align-items: flex-start;
        padding-left: 1rem;
    }

    & li {
        font-size: 1.2rem;
        list-style-type: none;
        position: relative;
        border-bottom: 1px solid $transparente;
        transition: all .4s ease;
    }

    & li:hover {
        border-bottom: 1.5px solid $lavanda1;

        @include tablet {
            border-bottom: 1.5px solid transparent;
        }
    }

    & li a:focus {
        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
    }

    & li:hover .aGradient {
        background: linear-gradient(to top, $lavanda1, $lavandaMuyClaro);
        -webkit-background-clip: text;
        color: transparent;
    }

    .aGradient {
        text-decoration: none;
        color: $negro;
        transition: all .5s ease;
    }
}

.inicioDeSesion {
    height: 100%;

    & ion-icon {
        @include medidas(2rem, 2rem)
    }
}

.header__redes {
    justify-content: center;
    align-items: center;

    @include tablet {
        margin-top: .5rem;
    }

    & a {
        text-decoration: none;
        width: 2rem;
        margin: 0 .5rem;
    }

    & ion-icon {
        @include medidas(2rem, 2rem);
        color: $lavanda1;
    }
}

.dropdown-menu {
    border: none;
    position: relative;
}

@include tablet {

    .inicioDeSesion {
        margin-top: .5rem;
    }
}